<nav class="navbar navbar-primary bg-primary"></nav>


<div><h1 class="title">Statically</h1></div>
<div class="description">
  <h4 class="desc">
    Analyze suspicious Windows Binaries to detect features of malware.
  </h4>
  <h4 class="desc">Share reports with the security community.</h4>
</div>

<div class="container-fluid" >

<form
  action="http://localhost:8080/upload"
  enctype="multipart/form-data"
  method="post"
>
  <div style="overflow: hidden" id="file-upload-text">
    <img  class="img" (click)="selectFile.click()" src="/assets/images/image1.png" alt="" srcset="" />
    <input
    style="display: none" #selectFile
      type="file"
      name="file"
      style="opacity: 0; -moz-opacity: 0; filter: alpha(opacity= 0)"
      
      (change)="onFileSelected($event)" 
    />
    <h1 class="uploaddesc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda ullam adipisci ipsum, nemo eveniet!</h1>
    <button type="button" class="upload" value="upload" (click)="onUpload()">Upload</button>
  </div>
</form>

</div>





<a
  href="javascript:void{0}"
  (click)="loadPosts()"
  role="button"
  class="btn btn-lg btn-primary"
  >Call API</a
>

<div>
  <div>
    {{selectedFile}}
  </div>
  <h1>File info</h1>
  {{ errorMsg }}
  <ul *ngFor="let info of infos">
    <li>{{ info.title }}</li>
  </ul>
</div>
